### Imports

In [1]:
# -------------------------------------------
# üåæ Crop Recommendation ‚Äî Data Preprocessing
# -------------------------------------------

# 1Ô∏è‚É£ Import libraries
import pandas as pd
import os
from sklearn.preprocessing import LabelEncoder

# 2Ô∏è‚É£ Load the raw dataset
raw_path = '../data/raw/raw_crop.csv'
data = pd.read_csv(raw_path)

print("‚úÖ Raw dataset loaded successfully!")
print("Shape:", data.shape)
data.head()

‚úÖ Raw dataset loaded successfully!
Shape: (4513, 11)

,District_Name,Soil_color,Nitrogen,Phosphorus,Potassium,pH,Rainfall,Temperature,Crop,Fertilizer,Link
0,Kolhapur,Black,75,50,100,6.5,1000,20,Sugarcane,Urea,https://youtu.be/2t5Am0xLTOo
1,Kolhapur,Black,80,50,100,6.5,1000,20,Sugarcane,Urea,https://youtu.be/2t5Am0xLTOo
2,Kolhapur,Black,85,50,100,6.5,1000,20,Sugarcane,Urea,https://youtu.be/2t5Am0xLTOo
3,Kolhapur,Black,90,50,100,6.5,1000,20,Sugarcane,Urea,https://youtu.be/2t5Am0xLTOo
4,Kolhapur,Black,95,50,100,6.5,1000,20,Sugarcane,Urea,https://youtu.be/2t5Am0xLTOo

In [2]:
# 3Ô∏è‚É£ Drop unnecessary columns
columns_to_drop = ['District_Name', 'Fertilizer', 'Link']
data.drop(columns=columns_to_drop, inplace=True)
print(f"Dropped columns: {columns_to_drop}")

Dropped columns: ['District_Name', 'Fertilizer', 'Link']

In [3]:
# 4Ô∏è‚É£ Encode categorical columns
le_soil = LabelEncoder()
le_crop = LabelEncoder()

data['Soil_color'] = le_soil.fit_transform(data['Soil_color'])
data['Crop'] = le_crop.fit_transform(data['Crop'])

print("‚úÖ Encoded categorical columns (Soil_color, Crop)")
data.head()

‚úÖ Encoded categorical columns (Soil_color, Crop)

,Soil_color,Nitrogen,Phosphorus,Potassium,pH,Rainfall,Temperature,Crop
0,0,75,50,100,6.5,1000,20,11
1,0,80,50,100,6.5,1000,20,11
2,0,85,50,100,6.5,1000,20,11
3,0,90,50,100,6.5,1000,20,11
4,0,95,50,100,6.5,1000,20,11

In [4]:
# 5Ô∏è‚É£ Check for missing values
print("üß© Missing Values Summary:")
print(data.isnull().sum())

üß© Missing Values Summary:
Soil_color     0
Nitrogen       0
Phosphorus     0
Potassium      0
pH             0
Rainfall       0
Temperature    0
Crop           0
dtype: int64

In [5]:
# 6Ô∏è‚É£ Save processed dataset
processed_dir = '../data/processed'
os.makedirs(processed_dir, exist_ok=True)

processed_path = os.path.join(processed_dir, 'processed_crop.csv')
data.to_csv(processed_path, index=False)

print(f"üéâ Processed dataset saved successfully at: {processed_path}")

üéâ Processed dataset saved successfully at: ../data/processed/processed_crop.csv